/*  */

/*  Mise en page au sein du jeu */
body {
  display: grid;  
  grid-template-rows: 100px 1fr;                        		 
  grid-template-columns: 1fr 200px; 
  background : black url(images/indiana.jpg);	
  background-size : 100% 100%; 
}

#title{
    grid-column: 1; 
    grid-row: 1; 
}

#inventaire{
  grid-column: 2; 
  grid-row: 1/span 2; 
  text-align:center; 
}

#son{
  grid-column: 2; 
  grid-row: 1; 
  text-align:right; 
}

#map{
  grid-column: 1; 
  grid-row: 2; 
}

/* Objets */
.texte{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-size: 2em;
  font-weight: 700;
}

#speakerButton {
  background-color: #01080f; /* Couleur de fond */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
